<li>
	{{name}}

	<button class="change-me" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}} DEVOURED! {{else}} DEVOURE IT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
